{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aerial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/effects.js" defer></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bcolor p-4">
        <div class="container px-5 py-3">
          <a class="navbar-brand bcolor ms-5" href="#" style="cursor:default;"><img src="{% static 'img/Screenshot 2024-04-13 053747.png'%}" height="37" width="95"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ps-1 style fsize fw-semibold">
              <li class="nav-item">
                <a class="nav-link tet hover-underline-animation" href="{% url 'index'%}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link tet hover-underline-animation" href="{% url 'about'%}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pol hover-underline-animation" href="{% url 'features'%}">Feature</a>
              </li>
              <li class="nav-item">
                <a class="nav-link tet hover-underline-animation" href="{% url 'price'%}">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link tet hover-underline-animation" href="{% url 'contact'%}">Teams</a>
              </li>
            </ul>
            <a href="{% url 'retrieve' %}" type="button" class="btn btn-outline-light but text-dark ms-5 px-4 py-2">CRUD</a>
          </div>
        </div>
      </nav>
      <div class="container-fluid back458">
        <div class="container pt-5 ">
            <div class="row pt-4 ">
                <div class="col-1"></div>
                <div class="col-10 pb-5 px-5 text-center text-light">
                    <h1 class="display-3 mb-5  fw-bold">The world’s most widely adopted AI developer tool.</h1>
                    <a href="{% url 'price'%}" class="btn btn-light mt-1 px-5 fw-semibold mb-4 fs-5">Get started with Copilot</a>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row pb-5">
                <video autoplay muted loop class="rounded-4 px-0 py-0" id="myVideo1">
                  <source src="{% static 'img/hero-lg-6a98e47708e8.mp4'%}" type="video/mp4">
                </video>                
            </div>
            

        </div>
        <div class="row pb-4">
          <div class="col-12  pt-3 pb-5">
            <div class="logos">
              <div class="logos-slide">
                <img src="{% static './img/3m.png'%}" />
                <img src="{% static './img/pngwing.com (7).png'%}" />
                <img src="{% static './img/budweiser.png'%}" />
                <img src="{% static './img/buzzfeed.png'%}" />
                <img src="{% static './img/forbes.png'%}" />
                <img src="{% static './img/macys.png'%}" />
                <img src="{% static './img/menshealth.png'%}" />
                <img src="{% static './img/pngwing.com (8).png'%}" />
              </div>
        
              <div class="logos-slide">
                <img src="{% static './img/3m.png'%}" />
                <img src="{% static './img/pngwing.com (7).png'%}" />
                <img src="{% static './img/budweiser.png'%}" />
                <img src="{% static './img/buzzfeed.png'%}" />
                <img src="{% static './img/forbes.png'%}" />
                <img src="{% static './img/macys.png'%}" />
                <img src="{% static './img/menshealth.png'%}" />
                <img src="{% static './img/pngwing.com (8).png'%}" />
              </div>
            </div>
          </div> 
        </div>
      </div>
      <div class="container-fluid morees py-5">
        <div class=" container pb-5">
          <div class="row justify-content-start">
            <div class="col-2 pt-5">
              <h6 class=" border text-light fw-medium style p-1 text-center rounded-pill">Aerial-Enterprise</h6>
            </div>
          </div>
          <div class="row justify-content-start">
            <div class="col-12 pb-5 pt-2 text-light">
              <h1 class="display-3 mb-5  fw-bold">The competitive advantage developers ask for by name.</h1>
            </div>
          </div>
          <div class="row pb-5">
            <div class="col-7  g_backcol  rounded-4 p-5 text-light">
              <h1 class=" pb-5 mb-5 fw-bold style display-5 ">Proven to increase developer productivity and accelerate the pace of software development.</h1>
              <button class="btn btn-outline-light mt-5 px-4 fw-semibold fs-5">Read the research</button>

            </div>
            <div class="col-5 pe-0 ">
              <div class=" aaaaaaa ms-2 rounded-4 ps-5 pb-4 text-light">
                <h2 class="display-1 mb-0 style">55%</h2>
                <h5 class="px-1 text-light-emphasis fs-4">Faster Coding</h5>
              </div>
            </div>
          </div>
          <div class="row pb-5">
            
            <div class="col-5 ps-0 ">
              <div class=" aaaaaaa1 me-2 rounded-4 px-5 pb-4 text-light">
                <h1 class=" mb-4 fw-semibold style">Designed by leaders in AI so you can build with confidence.</h1>
                
              </div>
            </div>
            <div class="col-7  g_backcol1  rounded-4 p-5 text-light">
              <h1 class=" pb-5 mb-5 fw-bold style display-5 ">Committed to your privacy, security, and trust.</h1><div class="row py-5"></div>
              <button class="btn btn-outline-light mt-5 px-4 fw-semibold fs-5">Read the research</button>

            </div>
          </div>

          <div class="row bldd rounded-4">
            <div class="col-6 p-5 ">
              <h1 class=" mb-5 text-light fw-bold">Duolingo empowers its engineers to be force multipliers for expertise with GitHub Copilot, Codespaces.</h1>

              <button class="btn btn-outline-light mt-5  px-4 fw-semibold fs-5">Read the customer story</button>
            </div>
            <div class="col-6 px-5 py-5">
              <img src="{%static 'img/enterprise-5.jpg'%}" class="img-fluid rounded-4">
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid bldd">
        <div class="container ">
          <div class="row pt-5">
            <div class="col-2 pt-5">
              <a class=" border text-light fw-medium style px-4 py-1 rounded-pill" style="text-decoration: none;">Features</a>
            </div>
          </div>
          <div class="row justify-content-start">
            <div class="col-12 pb-4 pt-3 text-light">
              <h1 class="display-3 mb-5  fw-bold">The AI coding assistant
                elevating developer workflows.</h1>
            </div>
          </div>
          <div class="row pb-5">
            
              <video autoplay muted loop class=" rounded-4 px-0 " id="myVideo1">
                <source src="{% static 'img/features-breakout.mp4'%}" class="" type="video/mp4">
              </video>                
            
          </div>
          <div class="row pb-5">
            <div class="col-7">
              <h2 class="text-light">Start a conversation about your codebase.</h2>
              <h2 class="text-light-emphasis pb-5">Whether you’re hunting down a bug or designing a new feature-when you’re stuck, ask
              Aerial Copilot.</h2>

                <a class="fs-5 tet1 hover-underline-animation1" href="#">Read about use cases for GitHub Copilot Chat </a>
            </div>
            <div class="col-5">
              <ul class="b">
                <li class="text-light fw-semibold  ps-2">
                  Improve code quality and security.<span class="text-light-emphasis"> Developers feel more confident in their code quality when authoring code with GitHub Copilot. And with the built-in vulnerability prevention system, insecure coding patterns get blocked in real time.</span> 
                </li><br>
                <li class="text-light fw-semibold ps-2">
                  Enable greater collaboration.<span class="text-light-emphasis"> GitHub Copilot’s the newest member of your team. You can ask general programming questions or very specific ones about your codebase to get answers fast, learn your way around, explain a mysterious regex, or get suggestions on how to improve legacy code.</span> 
                </li>
              </ul>
            </div>
          </div>

          <div class="row py-5 align-items-center">
            <div class="col-5  pt-4 ps-3 ">
              <h1 class="text-light pb-3">Get AI-based suggestions in real time</h1>
              <h5 class="text-light-emphasis pb-3">GitHub Copilot suggests code completions as developers type and turns natural language prompts into coding suggestions based on the project's context and style conventions.</h5>

              <a class="fs-5 tet1 hover-underline-animation1" href="#">Read the docs </a>
            </div>
            <div class="col-7 border-0 pe-0">
              <video autoplay muted loop class="py-0 border-0 rounded-4 " id="myVideo1">
                <source src="{% static 'img/features-river-1.mp4'%}" class="" type="video/mp4">
              </video> 
            </div>
          </div>

          <div class="row py-5 align-items-center">
            <div class="col-5  pt-4 ps-3 ">
              <a class=" border text-light fw-semibold style px-3 py-1 rounded-pill" style="text-decoration: none;">Available for Copilot Enterprise</a>
              <h1 class="text-light pb-3 pt-2">Docs that feel tailored for you.</h1>
              <h5 class="text-light-emphasis pb-3">Spend less time searching and more time learning, by getting personalized answers that are grounded in your organization’s knowledge base, with inline citations. Load content → Ask question → Profit.
              </h5>

              <a class="fs-5 tet1 hover-underline-animation1" href="#">Read the docs </a>
            </div>
            <div class="col-7 border-0  pe-0">
              <video autoplay muted loop class="py-0 border-0 rounded-4 " id="myVideo1">
                <source src="{% static 'img/features-river-2.mp4'%}" class="" type="video/mp4">
              </video> 
            </div>
          </div>

          <div class="row py-5 align-items-center">
            <div class="col-5  pt-4 ps-3 ">
              <a class=" border text-light fw-semibold style px-3 py-1 rounded-pill" style="text-decoration: none;">Available for Copilot Enterprise</a>
              <h1 class="text-light pb-3 pt-2">Pull requests that tell a story.</h1>
              <h5 class="text-light-emphasis pb-3">GitHub Copilot keeps track of your work, suggests descriptions, and helps reviewers reason about your changes.
              </h5>

              <a class="fs-5 tet1 hover-underline-animation1" href="#">Read the docs </a>
            </div>
            <div class="col-7 border-0  pe-0">
              <video autoplay muted loop class="py-0 border-0 rounded-4 " id="myVideo1">
                <source src="{% static 'img/features-river-3.mp4'%}" class="" type="video/mp4">
              </video> 
            </div>
          </div>

          <div class="row py-5 align-items-center">
            <div class="col-5  pt-4 ps-3 ">
              <a class=" border text-light style px-3 fw-semibold py-1 rounded-pill" style="text-decoration: none;">Limited Beta</a>
              <h1 class="text-light pb-3 pt-3">Your favorite tools have entered the chat.</h1>
              <h5 class="text-light-emphasis pb-3">Check log errors, create feature flags, deploy apps to the cloud. Add capabilities to GitHub Copilot with an ecosystem of extensions from third-party tools and services.

              </h5>

              <a class="fs-5 tet1 hover-underline-animation1" href="#">Explore Aerial copilot extension </a>
            </div>
            <div class="col-7 border-0  pe-0">
              <video autoplay muted loop class="py-0 border-0 rounded-4 " id="myVideo1">
                <source src="{% static 'img/features-river-4.mp4'%}" class="" type="video/mp4">
              </video> 
            </div>
          </div>

          <div class="row py-5  ">
            <div class="col-12 ps-5 pt-4 pb-5 rounded-4 p-0 kila">
              <div class="col-6  pt-4">
                <a class=" border text-light fw-normal style px-4 py-1 rounded-pill" style="text-decoration: none;">Coming soon</a>
                <h1 class=" pb-5 pt-2 text-light fw-bold style ">Proven to increase developer productivity and accelerate the pace of software development.</h1>
              </div>
              <div class="col-6">
              </div>
            </div>
            
          </div>

          <div class="row py-5  ">
            <div class="col-6 px-5 pt-4 pb-5  rounded-4 kila1 p-0 ">
              <h1 class=" pb-2 pt-2 text-light fw-bold style ">Ask for assistance right in your terminal.</h1>
              <a class="fs-5 tet1 hover-underline-animation1 " href="#">Try Copilot in the CLL </a>
            </div>
            <div class="col-6 ps-4  pe-0  ">
              <div class="pb-5 text-center text-light pt-4 nucol rounded-4 px-5 ">
                <h1 class="pb-3">Keep flying with your favorite editor.</h1>
                <button class="btn btn-outline-light px-5 m-2 py-4 fw-semibold fs-5"><img src="{% static 'img/features-bento-2-vscode.svg'%}" class="img-fluid"> <figcaption>VS code</figcaption> 
                </button>
                <button class="btn btn-outline-light m-2 px-5 py-4 fw-semibold fs-5"><img src="{% static 'img/features-bento-2-neovim.svg'%}" class="img-fluid"> <figcaption>Neovim</figcaption> 
                </button>
                <button class="btn btn-outline-light m-2 px-5 py-4 fw-semibold fs-5"><img src="{% static 'img/features-bento-2-visualstudio.svg'%}" class="img-fluid"> <figcaption>V Studio</figcaption> 
                </button>
                <button class="btn btn-outline-light m-2 px-5 py-4 fw-semibold fs-5"><img src="{% static 'img/features-bento-2-jetbrains.svg'%}" class="img-fluid"> <figcaption>Jetbrains</figcaption> 
                </button>

              </div>
            </div>
            
          </div>
          <div class="row py-5  ">
            <div class="col-6 p-0 pe-3 ">
              <div class=" nucol p-5 rounded-4">
                <img src="{% static 'img/iphone.png'%}" height="75px" width="auto" class="mt-1">
                <h1 class="text-light pt-4 pb-5 ">
                Now Available: Chat with your favorite AI pair programmer on the go.
                </h1>
                <a href="https://play.google.com/store/apps/details?id=com.duolingo"><img src="{%static 'img/features-bento-4-google.png'%}" height="50px" width="auto" style="cursor: pointer;"></a>&nbsp;&nbsp;&nbsp;
                <a href="https://apps.apple.com/us/app/duolingo-language-lessons/id570060128"><img src="{%static 'img/features-bento-4-apple.png'%}" height="50px" width="auto" href="#" style="cursor: pointer;"></a>
              </div>
            </div>
            <div class="col-6 p-0">
              <img src="{%static 'img/features-bento-3-chat-ga.jpg'%}" height="100%" width="100%" class="rounded-4" >
            </div>
            
          </div>
        </div>
      </div>
      <div class="container-fluid bcolor">
        <div class="row balder ms-5">
          <div class="col-12 pt-5 pb-4">
            <img src="{%static 'img/Screenshot 2024-04-13 053747.png'%}" height="80" width="250">
          </div>
        </div>
        <div class="row  ms-5">
          <div class="col-7 pt-5 balder3 text-light pb-4">
            <h1 class="display-2 style fw-semibold">Get Ready to go</h1>
            <h1 class="display-2 style fw-semibold">Beyond Everything</h1>
            <button class="btn btn-outline-light py-2 px-4 mt-5 ms-2 style fw-semibold fs-3" >ifo@aerial.com</button>
            <button class="btn btn-outline-light py-2 px-4 mt-5 ms-5 style fw-semibold fs-3" >ifo@aerial_dev.com</button>
          </div>
          <div class="col-2 balder1 ps-5 pt-5 text-light style">
            <h4 class="fw-semibold text-start">Quick Links</h4> 
            <h5 class="text-start mt-3 mb-2"><a class="curo" href="#">Home</a></h5>
            <h5 class="text-start mt-3 mb-2"><a class="curo" href="#">About Us</a></h5>
            <h5 class="text-start mt-3 mb-2 tet"><a class="curo" href="#">Service</a></h5>
            <h5 class="text-start mt-3 mb-5 tet"><a class="curo" href="#">Contact Us</a></h5>
          </div>
          <div class="col-3 balder2 ps-5 text-light pt-5">
            <h4 class="style fw-semibold">Services</h4> 
            <h5 class="text-start mt-3 mb-2"><a class="curo" href="#">Website Development</a></h5>
            <h5 class="text-start mt-3 mb-2"><a class="curo" href="#">App Development</a></h5>
            <h5 class="text-start mt-3 mb-2"><a class="curo" href="#">Website Maintainence</a></h5>
            <h5 class="text-start mt-3 mb-5"><a class="curo" href="#">Aerial</a></h5>
          </div>
        </div>
        <div class="row ms-5 text-light balder4">
          <div class="col-12 ps-5  pt-5 pb-4">
            <h6> &#169 2024 Aerial. All Rights Reserved.</h6>
          </div>
        </div>
      </div>    
</body>
</html>